@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	font-family: "Arial Narrow","Verdana","Tahoma";
}

body, html {
 
  	height: 100%;
	font-family: "Arial Narrow","Verdana","Tahoma";
	background-color: whitesmoke;
}

button, #button {

	background-color: black;
	border: none;
	color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}

button:hover, #button:hover {

	animation-name: hover-boton;
	animation-duration: 1.5s;
}

@keyframes hover-boton {

  from {background-color: black;}
  to {background-color: #C5A403;}
}

h1 {

	font-size: 50px;
}

h2 {

	margin: 0 0 1% 0;
}

h3 {

	font-size: 45px;
	margin: 0 0 5% 0;
}

h4 {

	margin: 0 0 5% 0;
}

p {

	width: 100%;
	margin: 2% auto;
	line-height: 1.3;
}

a, a:hover {

	text-decoration: none;
}

hr {

	margin: 7% 0 7% 0;
}

/* TITULOS DE MP, NOTICIAS Y PDET */
.nombre-pagina{

	margin: 5% 0 0 42%;
	width: 50%;
	position: absolute;	
	color: whitesmoke;
	text-align: right;
	font-size: 50px; 
	-webkit-text-stroke: 2px #000000;
	-webkit-animation: nombre-pagina 0.8s both;
	        animation: nombre-pagina 0.8s both;
}

#bg {

 
  height: 63%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes nombre-pagina {
  0% {
    text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px -1px #000000, 2px -2px #000000, 3px -3px #000000, 4px -4px #000000, 5px -5px #000000, 6px -6px #000000, 7px -7px #000000, 6px -6px #000000;
    -webkit-transform: translateX(-6px) translateY(6px);
            transform: translateX(-6px) translateY(6px);
  }
}

@keyframes nombre-pagina {
  0% {
    text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px -1px #000000, 2px -2px #000000, 3px -3px #000000, 4px -4px #000000, 5px -5px #000000, 6px -6px #000000, 7px -7px #000000, 6px -6px #000000;
    -webkit-transform: translateX(-6px) translateY(6px);
            transform: translateX(-6px) translateY(6px);
  }
}

/* ------------- TÍTULOS de NOTICIAS / SECCIOENS ------------- */
.titulo {

	margin: 1% 0 2% 0;
	padding: 1%;
	color: transparent;
	-webkit-text-stroke: 2px black;
	background-color: #C5A403;
	text-shadow: 2px 2px white;
}

/* ------------- CONTENEDOR PRINCIPAL COMPARTIDO ------------- */
.container-principal {

	width: 85%;
	margin: auto;
}

.container-secundario {

	width: 100%; 
	padding: 1%;
	margin: 3% auto;
	display: inline-block;
	background-color: gainsboro;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-boton-vermas {

	width: 90%;
	margin: 0 auto;
}

#boton-vermas {

	width: 100%;
	margin: 3% auto;
}

.cont-img {

	display: inline-block;
	margin: 0 0 0 0.1%;
	position: relative;
	text-align: center;
	color: whitesmoke;
}

.cont-img .n-peli {

	position: absolute;
	text-align: center;
	opacity: 0;
}

.imagen-pelicula {
	
	width: 180px;
	height: 280px;
}

.cont-img:hover {

 	filter: brightness(70%);
}

.cont-img:hover .n-peli {
  
  	width: 85%;
 	color: whitesmoke;
	opacity: 100%; 
	margin: 60% 6% auto;
	font-size: 20px;
	background-color: #C5A403;
	padding: 2%;
}

/* ESTRELLITAS */
#form {

	margin: 0 auto;
}

#form p {

	text-align: center;
}

#form .estrellas {

	font-size: 100px;
}

.radio-estr[type="radio"] {
	
	display: none;
}

.estrellas {

 	font-size: 40px;
	color: grey;
}

.clasificacion {

	direction: rtl;
	unicode-bidi: bidi-override;
}

.estrellas:hover,
.estrellas:hover ~ .estrellas {
	
	color: orange;
}

.radio-estr[type="radio"]:checked ~ .estrellas {
	
	color: orange;
}

/* ------------------- HEADER ------------------- */
header {

	background-color: black;
	width: 100%; 
	overflow: hidden; 
	font-weight: bold;
	color: white;
}

.container-logo {

	width: 5%;
	height: 3%;
	float: left;
	margin: auto 3%;
}

.menu {

	float: right;
	text-align: right;
	margin-right: 50px;
}
 
.link-menu {

	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 10px 10px;
	font-size: 18px;
}

.link-menu:hover {

	background: #C5A403;
	border-radius: 50px;
}

.li-header {

	display: inline-block;
	padding: 20px 10px 20px 10px;
}

/* ------------------- INDEX ------------------- */

#vermas {

	color: white;
}
.container-boton {

  width: 7%;
  margin: 35% 10% 0 43%;
}

.boton-vermas-pelicula{

  opacity: 0!important;
}

.bg {
  
  background-image: url("../rsc/img/movie.jpg");
  height: 88%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  overflow: hidden;
}

.bg:hover {

  filter: brightness(65%);
}

.bg:hover .boton-vermas-pelicula {

  width: 200%;
  opacity: 100!important;
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  transition: all 0.5s;
  cursor: pointer;
}

.bg:hover .boton-vermas-pelicula .span {

  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bg:hover .boton-vermas-pelicula .span:after {
  
  content: '\00bb';
  position: absolute;  
  right: -10px;
  transition: 0.5s;
}

.bg:hover .boton-vermas-pelicula:hover .span {

  font-size: 18px;
  padding-right: 25px;
}

.bg:hover .boton-vermas-pelicula:hover .span:after {
  
  opacity: 1;
}

.text-container {

  margin: 8% 0 0 4%;
  color: whitesmoke;
  width: 27%;
  float: left;
  position: absolute;
  font-size: 16px;
  line-height: 1.3;
}

.container-valoracion {
  
  margin-top: 15%;
  margin-left: 80%;
  width: 15%;
  float: left;
  color: whitesmoke;
  position: absolute;
  text-align: center;
}
/* ------------ CARTELERA ------------*/
#cartelera {

	width: 100%;
	margin: 4% auto;
}

.container-cartelera {

	margin: auto;
	padding: 3% 1% 2% 1%; 
  	width: 90%;
}

.container-cartelera .slider {

  	overflow: hidden;
	width: 90%;   
	margin: 0px auto;
}

.slider {

	margin: 1%; 
	position: relative;
	right: 1%;
}

.container-cartelera .flecha-prev {

	margin: 10% 2% 0 1% ;
  	position: absolute;
}

.container-cartelera .flecha-next {

	text-align: right;
	position: absolute;
	bottom: -46%;
	left: 49%;
}

.flecha { 
  
	width: 5%;
}


/* --------------- BLOG ---------------*/
#blog {

	margin: 3% auto;
	width: 100%;
	overflow: hidden;
	display: block;
}

.container-blog {

	margin: 4% auto;
	width: 90%;
	color: black;
}

#imagenblog1 {

  width: 100%;
  margin: 3% auto;
}

.imagen-blog-mini  {

	width: 35%;
 	float: left;
}

.container-noticia-grande {

	width: 36%;
	padding: 2%;
	float: left;
	background-color: gainsboro;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.container-otras-noticias {

	width: 60%;
  	float: left;
}

.container-noticia {

  padding: 2%;
  margin: 0 0 3% 4%;
  font-size: 16px;
  background-color: gainsboro;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
 
.container-noticia .text-container-noticia {

	margin: 0 0 0 40%;
}

/* ------------------- MEJORES PELICULAS ------------------- */
.poster-pelicula {
	
	margin: 2%;
	float: left;
}


/* ------------------- REPRODUCTOR ------------------- */
.ficha {

	width: 90%;
	margin: auto;
}

.poster-peli {

	float: left;
	width: 40%;
}

.wrapper {

	position: absolute;
	float: left;
}

.poster-peli img {

	width: 400px;
}

.valoracion {

	margin-right: 2%;
	padding: 0;
}

.valoracion form p {

	margin: 0;
	padding: 0;
}

.texto {

	float: left;
	width: 55%;
	padding: 2%;
}

.mini-texto {
	
	width: 50%;
	float: left;
	margin: 0 0 3% 0;
}

.grilla-actores {

	width: 90%;
	margin: 3% auto;
	padding: 2% 0 0 3%;
	display: inline-block;
	background-color: darkgrey;
}

.contenedor-actor {

	float: left;
	margin: 2%;		
}

.trailer { 
	
	width: 50%;
	margin: auto; 
}

.mfp-hide {

    display: none!important;
}

#videoLink {

	color: white;
	text-decoration: none;
}

iframe {

	width: 70%;
	margin: 0 0 0 15%

}

/* ------------------- LISTADO PELICULAS ------------------- */
/* PANEL DE BUSQUEDA */
.container-clasificacion {

	width: 14%;
	float: left;
	margin: 1%;	
	padding: 2%;
	background-color: lightgrey;
}

.clasificacion-anio, .mostrar-cantidad {

	width: 90%;
	margin: auto;
}

.clasificacion-anio .anio, .cantidad {

	margin: 4%;
}

.container-boton-buscar {

	width: 70%;
	margin: auto;
}

.label-busqueda-y-genero {

	width: 100%;
	height: 30px;
	cursor: pointer;
	background-color: gold;
	color: black;
	border-radius: 2px;
}

.buscador, .clasificacion-genero {

	width: 90%;
	margin: auto;
}
 
/* LISTADO PELICULAS */
.container-lista-peliculas{
	
	width: 50%;
	float: left;
	margin: 1%;
}

.lista-peliculas {

	border: solid #4A4949;
	list-style: none;
	font-size: 18px;
}

.n-pelicula {

	color: black;
	text-decoration: none;
}

.n-pelicula:hover {

	color: white;
}

.peliculas1 {
	
	margin: 1px;
	padding: 1.5%;
	cursor: pointer;	
	background-color: darkgrey;
}

.peliculas2 {

	margin: 1px;
	padding: 1.5%;
	cursor: pointer;
	background-color: grey;
}

.peliculas1:hover, .peliculas2:hover {

	font-weight: bold;
	color: white;
	background-color: #C5A403;
}

/* PAGINATION */
.pagination {
	
	width: 80%;
	margin: 2% auto 3% 18%;
 	display: inline-block;
}

.pagination #nro-pag {

	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.pagination #nro-pag.active {

	background-color: #C5A403;
	color: white;
	border: 1px solid #C5A403;
}

.pagination #nro-pag:hover:not(.active) {

	background-color: #ddd;
}

/* POSTER PELICULA */
.container-showposter {

  	width: 25%;
  	float: left;
  	padding: 1%;
  	margin: 0 1% 0 0;
  	text-align: center;
  	position: relative;
  	height: 790px;
  	visibility: hidden; 
}

.container-showposter .poster-movie {

	top: 2%;
	width: 90%;
	margin: 2% auto;
	padding: 4%;
	position: sticky;
	background-color: grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.container-showposter .poster-movie img {
	
	margin-bottom: 3%;
	width: 100%;
}

/* ------------------- LOG IN & REGISTER ------------------- */
.container-greybox {
	
	width: 33%;
	margin: 6% auto;
	padding: 2% 0 2% 0;
	text-align: center;
	background-color: gainsboro;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.container-form {

	width: 80%;
	margin: auto;
}

.userinfo{

	font-size: 18px;
}

.checkbox {

	height: 15px;
}

.input-info {

	height: 30px;
	width: 75%;
	margin: 0 0 5% 0;
}

.label-info {

	margin: 100px;
	font-size: 18px;
} 


/* ------------------- NOTICIAS ------------------- */
.noticia {

	width: 90%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	margin: 3% auto;
	background-color: lightgray;
	overflow: hidden;
	font-size: 18px;
}

.imagen img {
	
	width: 35%;
	margin: 0 4% 0 2%;
	float: left;
}

.texto-noticia {

	padding: 1%;
	width: 85%;
}

.container-boton-leermas {

	width: 20%;
	position: relative;
	bottom: 20px;
	margin: 0 0 0 80%;
}


/* ------------------- FOOTER ------------------- */
footer {

	width: 100%;
	overflow: hidden;
	background-color: #000000;
	color: white;
	margin: auto;
}

#content-footer {

	width: 90%;
	padding: 2%;
	overflow: hidden;
	margin: auto;
}

#linea-vertical {

	float: left;
	background-color: white;
	width: 1px;
  	height: 200px;
}

.redes {

	float: left;
	width: 40%;
	margin: 0 0 0 11%;
}

.mapa-del-sitio {

	margin: 1% 3% 1% 3%;
	width: 30%;
	float: left;
}

.imgs-redes {

	width: 50%;
	margin: auto;
}

.red {

	float: left;
	margin: 5% 10% 5% 10%;
}

.logo-footer {
	
	float: left;
	margin: 5% 10% 5% 10%;
	padding:  auto 2%;
}